[class^="icon-budget"] {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: pink;

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 16px 16px;

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 16px 16px;
}

.icon-budget-trading212 {
    background-color: #00A6E0;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Cpath%20fill='black'%20d='m12.001%2010.157%204.867%2010.815c.25.75.748%201%201.373%201h4.62c.997%200%201.37-.624.997-1.498L15.994%202.998c-.25-.747-.75-.998-1.372-.998H9.38c-.625%200-1.124.25-1.374.998L.142%2020.474c-.374.874%200%201.498.998%201.498h4.62c.624%200%201.123-.25%201.373-1z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Cpath%20fill='black'%20d='m12.001%2010.157%204.867%2010.815c.25.75.748%201%201.373%201h4.62c.997%200%201.37-.624.997-1.498L15.994%202.998c-.25-.747-.75-.998-1.372-.998H9.38c-.625%200-1.124.25-1.374.998L.142%2020.474c-.374.874%200%201.498.998%201.498h4.62c.624%200%201.123-.25%201.373-1z'/%3E%3C/svg%3E");
}